body {
        background-color: brown;
    border: 5px solid blue;
        
}

header {
border:  solid green;
padding:1em;
background-image: url("../images/Guess_logo.jpg");
}

#introPage {
        border: 10px solid orange;
        background-color: orange;

}

.introHeading {
        border: 2px solid blue;
        background-color: brown;
        font-size: 100px;
        /* position: relative; */
        padding-left: 2.7em;
}

#guess-logo-1 {
float:left;
}

#guess-logo-2 {
        float:right;
        }


.intro-body {

        padding: 2em;
        font-size: 50px;

}